@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* root and global styling  */
:root {
  /* main colors for site */
  --color-green: #687864;
  --color-blue: #3680b9;
  --color-dark-blue: #5085a5;
  --color-light-blue: #8fc1e3;
  --color-white-blue: #eaf1f9;
  /* sub colors */
  --color-black: #111;
  --color-white: #fff;
  /* gradient colors */
  --colorful-background: linear-gradient(
    -45deg,
    #eeaa52,
    #e73c6f,
    #fcd628,
    #f33e7d
  );
  --simple-background: linear-gradient(
    var(--color-blue),
    var(--color-white-blue)
  );
  --simple-background-reversed: linear-gradient(
    var(--color-white-blue),
    var(--color-blue)
  );
  --simple-background-mid: linear-gradient(
    var(--color-white-blue),
    var(--color-light-blue)
  );
}
* {
  box-sizing: border-box;
  /* border: 1px solid var(--color-black); */
}
/* width */
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
}
a {
  text-decoration: none;
}
i {
  width: 100%;
}
/* 
*
*
Main header section 
contains page navigation for both mobile and desktop
contains header for both mobile and desktop 
*
*
*/
header {
  background-color: var(--color-blue);
  border-bottom: 0.25em solid var(--color-dark-blue);
}
/*
*
 header nav
 *
 */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 2px solid var(--color-dark-blue);
}
.nav-left {
  width: 25%;
  display: flex;
  justify-content: center;
}
.nav-left img {
  height: 100%;
}
.nav-right {
  width: 25%;
}
#menu-bars {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
}
#menu-bars i {
  font-size: 2em;
}
#nav-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  display: none;
  margin: 0;
  padding: 0;
}
#nav-menu li {
  list-style: none;
  margin: auto;
}
#nav-menu li a {
  color: var(--color-white);
  font-size: 3rem;
}
.exit-button {
  position: fixed;
  right: 5%;
  top: 2%;
  width: 15%;
  height: 5%;
  display: flex;
  justify-content: center;
}
.exit-button button {
  width: 100%;
  background-color: inherit;
  border: none;
}
.exit-button button i {
  width: 100%;
  height: 100%;
  font-size: 3em;
  color: white;
}
/*
*
 header hero  
 *
 */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}
.hero .title {
  font-size: 1.7rem;
  color: rgba(1, 1, 1, 1);
  height: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-hero-title {
  font-size: 2.1em;
  color: #eee;
  background: var(--colorful-background);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.13em transparent;
  animation: gradient 5s ease infinite;
  letter-spacing: 0.11em;
}
@keyframes gradient {
  0%,
  100% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.hero .title .header-hero-title,
.hero .title p {
  width: 100%;
}
.hero .header-image {
  margin: 1em;
}
.hero .header-image img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

/* 
*
Main website body section
containe bio and works and connect
bio contains header and short paragraph
works contains a few containers
connect contains a list of social links 
*
*/
/* main {
  background-color: rgba(1, 1, 1, 0.7);
} */
/* bio  */
#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--simple-background);
  padding: 2em 0;
}
#bio h2 {
  font-size: 2.4em;
  border-bottom: 3px solid var(--color-black);
  border-radius: 12%;
}
#bio p {
  font-size: 1.2em;
  padding: 0.4em 5em;
}
/* END bio  */
/* 
*
*
works section will contain title and works
inside the works section will contain two section
active works and side works which will contain
all the side works  
*
*
*/
#portfolio {
  background: var(--simple-background-reversed);
}
.portfolio-title {
  text-align: center;
  font-size: 2em;
  background: var(--colorful-background);
  background-size: 200% 200%;
  border: 1px solid var(--color-black);
}
.portfolio-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-work {
  height: 40%;
  width: 90%;
  background: var(--simple-background-mid);
  margin: 1em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.active-work-image {
  width: 90%;
  margin: 1.5em;
}
.active-work-image a img {
  width: 100%;
}
.active-work-text {
  font-size: 3em;
  text-align: center;
  width: 100%;
}
.active-work-text h4 {
  display: none;
}
.work-title {
  color: var(--color-white);
  background: var(--colorful-background);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.13em transparent;
}
.side-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2em;
  border-top: solid 2px var(--color-black);
  width: 90%;
}
.work {
  height: 150px;
  width: 70%;
  background: url("https://via.placeholder.com/250x150");
  margin: 0.5em;
}
.smagums {
  background-image: url("../img/smagums.png");
  background-size: cover;
}
.run-buddy {
  background-image: url("../img/runbuddy.png");
  background-size: cover;
}
.weather-app {
  background-image: url("../img/weatherapp.png");
  background-size: cover;
}
.workday {
  background-image: url("../img/workdayscheduler.png");
  background-size: cover;
}
.quiz {
  background-image: url("../img/quiz.png");
  background-size: cover;
}
.tech-blog {
  background-image: url("../img/tech-blog.png");
  background-size: cover;
}
/* END works */
/* 
*
*
connect section containing
connect title and social links
*
* 
*/
#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  background: rgba(104, 120, 100, 1);
}
#connect .connect-title {
  font-size: 2em;
  color: white;
  background: var(--colorful-background);
  background-size: 200% 200%;
  letter-spacing: 0.1em;
  width: 100%;
}
#connect .connect-icons {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#connect .connect-icons a {
  font-size: 6em;
  flex: 1 50%;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0.3em 0;
}
#connect .connect-icons a:hover {
  color: var(--color-white-blue);
}
/* END connect section  */
/* 
*
Footer section
*
*/
footer {
  height: 8vh;
  display: flex;
  align-items: center;
  word-spacing: 0.2em;
  background-color: var(--color-blue);
}
footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-size: 1.35em;
}

/* 
*
*
media query for medium screens and up
changes made to few sections 
*
*
*/
@media screen and (min-width: 768px) {
  /* global styles */
  ::-webkit-scrollbar {
    display: block;
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-blue);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-light-blue);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-white-blue);
  }
  /* nav header  */
  nav {
    position: sticky;
    top: 0;
    background: var(--color-blue);
  }
  .nav-right {
    width: 50%;
  }
  #menu-bars {
    display: none;
  }
  #nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: inherit;
    height: 100%;
  }
  #nav-menu li a {
    color: inherit;
    font-size: 1.2em;
  }
  .exit-button {
    display: none;
  }
  .hero {
    flex-direction: row;
    justify-content: space-around;
  }
  .hero {
    text-align: center;
  }
  .hero .title .header-hero-title,
  .hero .title p {
    width: 100%;
  }
  .header-hero-title {
    font-size: 1.8em;
  }
  .hero .header-image {
    margin-top: 5%;
  }
  .hero .header-image img {
    height: 300px;
    width: 300px;
  }
  /* END nav header  */
  /* bio  */
  #bio {
    height: 25%;
  }
  #bio h2 {
    font-size: 2.3em;
  }
  #bio p {
    padding: 0.8em 3.4em;
  }
  /* END bio */
  /* work */
  .active-work {
    border: none;
    padding: 4em;
    background: var(--simple-background-reversed);
  }
  .active-work .active-work-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active-work-text h4 {
    display: block;
  }
  .run-buddy {
    flex-grow: 0.5;
  }
  .side-works {
    flex-direction: row;
    justify-content: center;
    border-top: none;
  }
  /* END work */
  /* connect */
  #connect {
    height: 20%;
    flex-direction: row;
    background: var(--colorful-background);
  }
  #connect .connect-title {
    background: none;
  }
  #connect .connect-icons {
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
  }
  #connect a i {
    color: var(--color-white);
    font-size: 0.5em;
  }
  /* END connect */
}
/* 
*
*
media query for large screens and up
changes made to few sections 
*
*
*/
@media screen and (min-width: 980px) {
  .header-hero-title {
    font-size: 2.8em;
  }
}
